.score.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.score-table-container {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 20px;
}

.score-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.score-table th, .score-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}
.score-table th {
    background-color: rgba(0, 170, 255, 0.3);
}
.score-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}
.score-table tr:hover {
    background-color: rgba(0, 170, 255, 0.2);
}